- Deciding on what is important
- Relevant experiences

Customization of resume
Font Size 

- Name 14
- Headings 12
- Content 10
- Font Style (Times New Roman or Calibri)

Optimize your resume with key words.

- Action verbs

Updated LinkedIn profile, GitHub, Professional EmailID, Career Objective 

### Everything in reverse chronology

Technical skills exemplified through projects.

Projects

- One line brief description and then technologies used.

Achievements and Position of responsibilities

**No Short Forms**

**Do not use ready made templates**